html, h1, h3{
  font-family: 'Red Hat Display', sans-serif;

}

h1 {
  text-align: right;
  color: DarkTurquoise ;
  border-style: solid;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-color: white;
  background-color: white;
}
h2 {
 font-family: 'Major Mono Display', monospace;
 text-align: right;
}
.bmo{
  width:60%
}
p{
  border-style: solid;
  border-color: red;
}
html, body {
background-color: #E7D4E3;
}
